.border-outline {
    border: dotted black;
    margin: 10px;
}
.border-outline2 {
    border: dotted blue;
    margin: 10px;
}
.border-outline3 {
    border: dotted red;
    margin: 10px;
}

.text-align-center {
    text-align: center;
    justify-content: center;
}